.promo__list {
    color: var(--contrast-text-color);
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: var(--default-border-radius);
    transition: transform 0.2s ease-in-out;
}

.promo__list:hover {
    transform: scale(1.05);
}