.ingredients__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .ingredients__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 20px;
    }
}