.order-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    border: none;
    color: inherit;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: var(--default-border-radius);
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    cursor: pointer;
}

.order-link:hover {
    opacity: 0.8;
}

.order-link::after {
    background-image: url('../../../../images/arrow.svg');
    background-repeat: no-repeat;
    content: '';
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease-in-out;
}

.order-link:hover::after {
    transform: translateX(10px);
}

@media screen and (max-width: 900px) {
    .order-link {
        width: 100%;
    }
}