.ingredients__title {
    color: var(--default-text-color);
    font-size: var(--section-title-font-size);
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-bottom: 30px;
}