.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    border: none;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.order-button:hover {
    opacity: 0.8;
}

.order-button::after {
    background-image: url('../../../../images/arrow.svg');
    content: '';
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease-in-out;
}

.order-button:hover::after {
    transform: translateX(10px);
}

@media screen and (max-width: 600px) {
    .order-button {
        width: 100%;
    }
}