.product__description {
    color: var(--default-text-color);
    font-size: var(--default-text-font-size);
    line-height: 1.6;
}

@media screen and (max-width: 900px) {
    .product__description {
        text-align: center;
    }
}