.reviews {
    position: relative;
    padding: 40px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(123,170,212,0.3) 0%, rgba(124,159,209,0.3) 23%, rgba(153,198,207,0.3) 43%, rgba(255,255,255,0.3) 100%);
}